$fontfamily: "Arimo", sans-serif;
$pcolor: #3f403f;
$hcolor: #3f403f;
$spancolor: #06942a;
$loginbutton: rgba(6, 148, 42, 0.2);
.general {
  position: relative;
  display: flex;
  flex-direction: column;
}
.topper .top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo {
  position: relative;
  display: flex;
  flex-direction: row;
}
.logo img {
  padding: 1em;
  height: 60%;
  width: 100%;
  cursor: pointer;
}
.top-body {
  position: relative;
  font-family: $fontfamily;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;
  height: 40em;
  padding-left: 5em;
}
.top-body h1,
.slow1 h1,
.wraptop h1,
.toto h1 {
  position: relative;
  font-family: $fontfamily;
  font-size: 48px;
  font-weight: bolder;
  color: $hcolor;
}
.top-body p,
.slow1 p,
.datum p,
.toto p,
.bottom p {
  position: relative;
  font-family: $fontfamily;
  font-size: 16px;
  font-weight: 400;
  color: $pcolor;
  line-height: 200%;
}
.top-body h1 span {
  color: $spancolor;
}
.top-body .flexer {
  position: relative;
  display: flex;
}
.top-body .flexer img {
  width: 126px;
  object-fit: contain;
  height: 33px;
}
.menu ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space;
}
.dashbaord ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
ul li {
  position: relative;
  list-style: none;
  font-family: $fontfamily;
  color: $pcolor;
  margin: 1em;
  font-size: 16px;
  cursor: pointer;
}
.bottom ul li {
  position: relative;
  list-style: none;
  font-family: $fontfamily;
  color: $pcolor;
  margin: 1em;
  font-size: 13.8px;
  cursor: pointer;
}
.bottom ul li.bottom {
  font-size: 16px;

  font-weight: 900 !important;
}
.differ {
  position: relative;
  border-radius: 50px;
  height: 30px;
  width: 120px;
  margin: 0;
  line-height: 27px;
  text-align: center;
  margin-top: 0.8em;
  background: $loginbutton !important;
  color: $spancolor !important;
}
.bg-animate {
  position: absolute;
  display: flex;
}
.bg-animate img {
  width: 50%;
  height: 50%;
}
.bg-animate img.opacity {
  position: absolute;
  left: 0;
  width: 140%;
  height: 100%;
}
.bg-animate img.indexer {
  width: 120%;
  height: 30%;
  z-index: -1;
}
.hero-image img {
  position: relative;
  width: 95% !important;
}
.input-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
.input-ele {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 47.87px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.04);
  border-radius: 50px;
}
div.raba {
  position: relative;
  border-left: 1px solid #ccc;
  padding: 0.8em;
  padding-right: 0em !important;
}
.input-ele input {
  position: relative;
  border-radius: 50px;
  width: 220px;
  height: 2em;
  border: none;
  padding-left: 1em;
  outline: none !important;
}
.input-flex button {
  position: absolute;
  width: 59px;
  height: 47px;
  right: 0;
  z-index: 100;
  background: $spancolor;
  cursor: pointer;
  border: 1px solid $spancolor;
  border-radius: 0px 50px 50px 0px;
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.main-body h1 {
  position: relative;
  font-family: $fontfamily;
  font-size: 48px;
  font-weight: bolder;
  color: $hcolor;
}
.main-body h3 {
  position: relative;
  font-family: $fontfamily;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: $pcolor;
}
.main-body p {
  position: relative;
  width: 480px;
  font-family: $fontfamily;
  font-size: 16px;
  font-style: normal;
  width: 94%;
  font-weight: normal;
  line-height: 200%;
  color: $pcolor;
}
.imgs {
  position: relative;
  width: 310px;
  background: #ffffff;

  filter: drop-shadow(0px 10px 30px rgba(6, 148, 42, 0.05));

  border-radius: 20px 20px 20px 20px;
}
.imgs img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.imgs h4 {
  position: relative;
  font-family: $fontfamily;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $pcolor;
  text-align: center;
}
.imgs h4 span {
  color: $spancolor;
}
.heighter {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.lone {
  position: relative;
  top: 15em;
}
.heighter div {
  margin-bottom: 4em;
}
.wrapchild2 h1 {
  position: relative;
  font-family: $fontfamily;
  font-size: 36px;
  font-weight: 700;
  color: $pcolor;
}
.broxer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.boxer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  width: 286px;
  margin-bottom: 1em;
  height: 275px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
}
.boxer h3,
.datum h3 {
  position: relative;
  font-family: $fontfamily;
  font-size: 21px;
  text-align: center;
  font-weight: 500;
  color: $pcolor;
}
.boxer .img {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  background: rgba(6, 148, 42, 0.1);
}
.boxer .img img {
  position: relative;

  height: 30px;
  object-fit: contain;
}
.boxer p {
  position: relative;
  font-family: $fontfamily;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #9b9b9b;
}
.wrapchild3 {
  position: relative;
  margin-top: 10em;
  width: 98%;
  height: 500px;
  padding: 2em;
  background: rgba(6, 148, 42, 0.05);
}
.slow1 {
  position: relative;
  align-items: center;
  align-self: center;
  padding: 2em;
}
.slow1 h1 {
  font-size: 36px !important;
  font-weight: 900 !important;
  line-height: 150%;
  font-style: $fontfamily;
  /* or 54px */
  color: #3f403f;
}
.slow1 a {
  text-decoration: none;
  position: relative;
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;
  font-family: $fontfamily;
  /* identical to box height */
  color: $spancolor;
  box-shadow: 0 4px 8px 0 rgba(6, 148, 42, 0.14);
}
.rolls {
  position: relative;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.roller {
  position: relative;
  width: 136px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  background: #ffffff;
  margin-left: 0.3em !important;
  margin-bottom: 1em;
  box-shadow: 10px 10px 30px rgba(118, 196, 138, 0.04);
}
.shifter {
  position: relative;
  margin-bottom: -4em !important;
}
.roller img {
  object-fit: contain;
}
.wrapchild4 {
  position: relative;
  margin-top: 7em;
}
.wraptop h1 {
  width: 40%;
  font-size: 36px !important;
  font-weight: 900 !important;
  line-height: 150%;
  font-style: $fontfamily !important;
  /* or 54px */
  color: #3f403f;
}
.datum {
  position: relative;
  display: flex;
  top: 4em;
  flex-direction: column;
  align-self: center;
  align-content: center;
}
.datum h3 {
  position: relative;
  text-align: left !important;
  font-weight: 900;
  margin: 0 !important;
}
.datum img {
  position: absolute;
  top: -3em;
}
.oily .hid {
  position: absolute;
  z-index: -1;
  left: 2em;
  bottom: -0.5em;
}
.arrows {
  position: relative;
  display: flex;
  justify-content: right;
}
.arrows button {
  position: relative;
  border: none;
  background: none;
}
.arrows img.change {
  transform: rotate(180deg);
}
.wrapchild5 {
  position: relative;
  margin-top: 10em;
  width: 100%;
  height: 367px;
  background-image: url("../images/MaskGroup.png");
  border-radius: 30px;
}
.toto {
  position: relative;
  top: 4em;
}
.toto h1,
.toto p {
  color: #fff !important;
}
.toto button {
  color: #fff;
  background: $spancolor;
  border-radius: 50px;
  height: 40px;
  width: 229px;
  box-shadow: 0px 10px 30px rgba(6, 148, 42, 0.12);
  border: 1px solid $spancolor;
}
.bottom {
  position: relative;
  margin-top: 4em;
}
.bottom li img {
  height: 40px;
  width: 40px;

  margin-right: 3px;
  object-fit: contain;
}
.bottom p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}
.copyright {
  position: relative;

  font-family: $fontfamily;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 1em;
  /* identical to box height */

  color: #9b9b9b;
}
@media (max-width: 768px) {
  .top-body {
    position: relative;
    font-family: $fontfamily;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    height: 100%;
    padding-left: 0em;
  }
  .input-ele input {
    position: relative;
    border-radius: 50px;
    width: 120px;
    height: 2em;
    border: none;
    padding-left: 1em;
    outline: none !important;
  }
  .hero-image img {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .lone {
    position: relative;
    top: 0em;
  }
  .imgs {
    position: relative;
    width: 100%;
    background: #ffffff;
    filter: drop-shadow(0px 10px 30px rgba(6, 148, 42, 0.05));
    border-radius: 20px 20px 20px 20px;
  }
  .main-body {
    position: relative;
    width: 100%;
  }
  .shifter {
    position: relative;
    margin-bottom: 0em !important;
  }
  .menu {
    display: none;
    visibility: hidden;
  }
  .bg-animate img.opacity {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bg-animate img.indexer {
    width: 100%;
    height: 30%;
    z-index: -1;
  }
  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  .bottom {
    position: relative;
    padding: 0 !important;
  }
  .bottom ul {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
  }
  .bottom p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
  }

  .mdl-cell--3-col,
  .mdl-cell--3-col-phone.mdl-cell--3-col-phone {
    width: 100% !important;
  }
  .mdl-cell--2-col,
  .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
    width: 50%;
    margin: 0 !important;
  }
  .wrapchild3 {
    position: relative;
    margin-top: 10em;
    width: 100%;
    height: 100%;
    padding: 0em;
    background: rgba(6, 148, 42, 0.05);
  }
  .main-body h1,
  .top-body h1,
  .slow1 h1,
  .wraptop h1,
  .toto h1,
  .wrapchild2 h1 {
    width: 100% !important;
    font-size: 20px !important;
  }
  .oily .hid {
    position: absolute;
    z-index: -1;
    left: 2em;
    bottom: 22em;
  }
  .datum p {
    width: 100% !important;
  }
  .broxer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
  }
  .boxer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    width: 48%;
    margin-bottom: 1em;
    height: 275px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .wrapchild3 {
    position: relative;
    margin-top: 1em;
    width: 100% !important;
  }
  .slow1 {
    position: relative;
    align-items: center;
    align-self: center;
    padding: 0em;
  }
  .rolls {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main-body h3 {
    position: relative;
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: $pcolor;
  }
  .wrapchild5 {
    position: relative;

    margin-top: 4em;
    width: 100%;
    height: 100%;
    background-image: url("../images/MaskGroup.png");
    border-radius: 30px;
  }
  .toto {
    position: relative;
    top: 0em;
  }
}
